@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    letter-spacing: 0.03rem;
}

a {
    text-decoration: none;
}

.logo_imagen {
    height: 90px;
}

.menucss {
    text-decoration: none;
    padding: 1rem;
    color: #F64740;
}

.menucss:hover {
    font-size: 1.3rem;
    color: #ff6661;
}




.footercss {
    width: 110px;
}

.imgredescss {
    width: 25px;
}



.botoncss {
    background-color: #F64740;
    border: none;

}

.botoncss a {
    color: white;
    
}

.tdimagencss {
    width: 60%;
    transform: rotate(15deg);
    position: relative;
    z-index: 900;
    /* margin-right: 60px; */
    margin-inline: 4rem;
    padding: 2rem;
    transition: 2s cubic-bezier(0.86, 0, 0.07, 1);
}

.tdimagencss:hover {
    transform: scale(1.3) rotate(-270deg);
}


.textoimportantecss {
    background-color: #F64740;
    border: none;
    color: white;
}

.whatsapp {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.pasoscss {
    width: 125px;
}

.infocss {
    width: 100px;
}



.botoncss:hover {

    cursor: pointer;
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}





@media screen and (max-width: 1000px) {
    .header {
        flex-direction: column;
    }

    .menucss {
        font-size: 1rem;
    }

    .menucss:hover {
        font-size: 1.05rem;
    }

    .botonmain {
        text-align: center;
    }

}



@media screen and (max-width: 576px) {
    .menucss {
        padding: 10px;
    }

    .inlinecss {
        display: inline;
        width: auto;
    }

    .tdimagencss {
        width: 75%;

    }




}




@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}